.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 1% 1% 1% 1%;
  width: 100%;
}

.logo {
  width: 30%;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
}

.menu {
  width: 50%;
  align-items: center;
  position: relative;
  
}
/* .menu-wrapper {
  display: flex;
  justify-content: flex-end;
} */
/* @media (min-width: 374px) and (max-width: 404px) {
  .logo {
    position: relative;
    left: 13%;
  }
}
@media (min-width: 406px) and (max-width: 420px) {
  .logo {
    position: relative;
    left: 17%;
  }
}
@media (min-width: 421px) and (max-width: 425px) {
  .logo {
    position: relative;
    left: 18%;
  }
}
@media (min-width: 426px) and (max-width: 436px) {
    .logo {
      position: relative;
      left: 20%;
    }
  } */
