.nav-header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: pink;
  padding: 1% 1% 1% 1%;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.nav-img-wrapper img {
  width: 20%;
}

.nav-phone-number {
  font-size: 1.2em;
}
