@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.nav-header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  white-space: nowrap;
  align-items: center;
  width: 100%;
}

.nav-img-wrapper img {
  width: 9%;
  position: relative;
  left: 4%;
}

.nav-phone-number {
  font-size: 15px;
  text-decoration: none;
  color: #dc2626;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  right: 10%;
}
@media (min-width: 430px) and (max-width: 530px) {
  .nav-img-wrapper img {
    width: 7%;
  }
  .nav-header-wrapper {
    padding: 0;
  }
}
@media (min-width: 531px) {
  .nav-img-wrapper img {
    width: 6%;
  }
}
